@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10rem);
  }
}

@media (max-width: 480px) {
  /* Add your custom styles here */
  .mob.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .mob.textcenter {
    text-align: center;
  }
  .mob.flexcol {
    flex-direction: column;
  }
  .mob.mb {
    margin-bottom: 16px;
  }
  .mob.gap {
    gap: 2rem;
  }
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Decreased width of the scrollbar */
  background: transparent; /* Optional: background for the scrollbar area */
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Hides the track */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Slate 300 */
  border-radius: 10px; /* Rounded corners */
}

/* Optional: Change color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Darker shade on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Make scrollbar thinner */
  scrollbar-color: #cbd5e1 transparent; /* Thumb color and track color */
}

/* Hiding default arrows if they appear */
::-webkit-scrollbar-button {
  display: none; /* Hides any scrollbar buttons */
}
* {
  box-sizing: border-box;
}
